<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WheelOfFortune.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WheelOfFortune.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WheelOfFortune.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <WheelOfFortune.Properties.Settings>
            <setting name="Player1Name" serializeAs="String">
                <value>Player1</value>
            </setting>
            <setting name="Player2Name" serializeAs="String">
                <value>Player2</value>
            </setting>
            <setting name="Player3Name" serializeAs="String">
                <value>Player3</value>
            </setting>
            <setting name="Player1Points" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player2Points" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player3Points" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartingPlayerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Player4Name" serializeAs="String">
                <value>Player4</value>
            </setting>
            <setting name="Player5Name" serializeAs="String">
                <value>Player5</value>
            </setting>
            <setting name="Player6Name" serializeAs="String">
                <value>Player</value>
            </setting>
            <setting name="Player4Points" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player5Points" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player6Points" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberOfPlayers" serializeAs="String">
                <value>4</value>
            </setting>
        </WheelOfFortune.Properties.Settings>
        <WheelOfFortune.GameSettings>
            <setting name="Player1Name" serializeAs="String">
                <value>Heidi</value>
            </setting>
            <setting name="Player2Name" serializeAs="String">
                <value>Frank</value>
            </setting>
        </WheelOfFortune.GameSettings>
    </userSettings>
    <applicationSettings>
        <WheelOfFortune.GameSettings>
            <setting name="Player3Name" serializeAs="String">
                <value>Sally</value>
            </setting>
        </WheelOfFortune.GameSettings>
    </applicationSettings>
</configuration>
